
# Weather API (Digital Twin)
# Provider options: "openweather" or "mock" (default: mock)
WEATHER_PROVIDER="mock"
# Get free API key from: https://openweathermap.org/api
WEATHER_API_KEY="67ef9a0a04cd4b2c0124b470b134499f"

# LLM Service
AI_SERVICE_URL="http://localhost:8008"

DATABASE_URL="postgresql://neondb_owner:npg_qjU8VYiads2h@ep-frosty-breeze-azxr5c1u.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_POOLED="postgresql://neondb_owner:npg_qjU8VYiads2h@ep-frosty-breeze-azxr5c1u-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=5000
NODE_ENV="development"
CLIENT_URL="http://localhost:3100"
CLERK_PUBLISHABLE_KEY="pk_test_dW5iaWFzZWQtc3BhbmllbC00MjM1LmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_SECRET_KEY="sk_test_iENpseDvalPFP1S7WWEct0tVDCjpvF8iCUvCa4W1mu"

